<div class="container login-page">
  <mat-card class="example-card">
    <article class="card-body">
      <a mat-stroked-button [routerLink]="['/register']" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form (submit)="login(loginForm)" novalidate autocomplete="off" [formGroup]="loginForm"
        class="row g-3 example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput class="form-control" type="email" name="username" formControlName="userName"
            [errorStateMatcher]="matcher" placeholder="pat@example.com" />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <!-- <mat-error *ngIf="userNameControl.hasError('email') && !userNameControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userNameControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput class="form-control" type="password" name="password" formControlName="password"
            [errorStateMatcher]="matcher" placeholder="******" />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
          <!-- <mat-error *ngIf="!passwordControl.hasError('required')">
            Invalid password
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        <!-- <div class="col-sm-12 col-md-12">
                  <label>User Name</label>
                  <input 
                    class="form-control" 
                    placeholder="Email" 
                    type="email" 
                    name="username" 
                    formControlName="userName" />
                </div> -->

        <!-- <div class="col-sm-12 col-md-12">
                  <label>Password</label>
                  <input 
                    class="form-control" 
                    placeholder="******" 
                    type="password" 
                    name="password" 
                    formControlName="password" />
                </div> -->

        <div class="col-sm-12 col-md-12">
          <!-- form-group// -->
          <mat-checkbox name="rememberMe" formControlName="rememberMe">Remember me</mat-checkbox>
        </div>

        <div class="col-sm-12 col-md-12">
          <!-- checkbox .// -->
          <!-- form-group// -->
          <div class="form-group">
            <!-- <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Login</button> -->
            <button type="submit" [disabled]="loginForm.invalid" mat-stroked-button color="primary">Login</button>
          </div>
        </div>
        <!-- form-group// -->
      </form>
    </article>
  </mat-card>
</div>